* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: tahoma;
}

.hero-image {
    width: 100%;
    height: 400px;
    background-image: url('../imagens/prod2.jpeg');
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;

}

.foto {
    width: 320px;
    height: 240px;
    border: solid black;
}

.foto img {
    max-width: 100%;
}

header {
    background-image: url();
    text-align: center;
    padding: 2px;

}

section {
    margin: 50px 0px;
}

/*PRODUTO*/
.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 5%;
    
}

.card-produto {
    flex: 1 1 30%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-direction: column; /* empilha tudo */
    transition: transform 0.3s;
}
.card-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* ocupa o espaço */
}

.card-produto:hover {
    transform: scale(1.05);
}

.card-produto img {
    width: 100%;
    height: auto;
    display: flex;
}

/*NOTICIAS*/
.container-noticias {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 5%;
}

.card-noticia-h {
    display: flex;
    background: #fdfdfd;
    border-left: 5px solid #4e342e;
    border-bottom: 1px solid #cd2601;
    align-items: center;


}

.card-noticia-h img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.conteudo-noticia {
    padding: 20px;
}

.conteudo-noticia p {
    margin: 10px 4px;

}

.conteudo-noticia a {
    border: 1px solid #000;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    color: #d7ccc8;
    background-color: #4e342e;
    border-radius: 4px;

}

.card-info a {
    margin-top: auto; /* empurra pra baixo */
    color: #fff;
    background: #333;
    padding: 5px;
    text-align: center;
        border-radius: 6px;
        padding: 8px;
}

/*MENU*/
nav#menumobile {
    display: none;
}

nav#menudesktop {
    background-color: #333;
    padding: 0 20px;
}

nav#menudesktop ul {
    display: flex;
    justify-content: center; /* joga pro lado direito */
    align-items: center;
    gap: 20px; /* espaço entre os itens */
    height: 60px;
}

nav#menudesktop ul li {
    list-style: none;
}

nav#menudesktop ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

nav#menudesktop ul li a:hover {
    background-color: #fff;
    color: #333;
}

/*RODAPE*/
footer {
    background-color: #1a1a1a;
    color: #d7ccc8;
    padding: 50px 5%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

@media screen and (max-width: 1024px) {


    /* MENU */
    nav#menudesktop {
        display: none;
    }

    nav#menumobile {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background-color: rgb(59, 59, 59);
        border: solid #000;
    }
    nav#menumobile button {
        font-size: 30px;
    padding: 10px;
    margin-left: 10px; /* dá um respiro da borda */
    cursor: pointer;
}

    nav#menumobile ul li ul li {
        width: 100%;
        margin: 15px 2px;
    }

    nav#menumobile ul li ul li a {
        display: block;
        height: 45px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 28px;
        margin: 4px;
        padding: 4px;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 2px 2px 10px 2px rgb(255, 255, 255);
        border-radius: 4px;
    }

    /*esconder botões*/
    nav#menumobile ul li ul {
        display: none;
    }

    nav#menumobile ul li {
        font-size: 30px;
    }

    nav#menumobile ul li:hover ul,
    nav#menumobile ul li:focus ul {
        display: block;

        /* PRODUTOS */
    }

    .card-produto {
        width: 80%;
        /* deixa bonito no celular */
    }

    /* NOTÍCIAS */
    .card-noticia-h {
        flex-direction: column;
        text-align: center;
    }

    .card-noticia-h img {
        width: 100%;
        height: auto;
    }

    /* HERO */
    .hero-image {
        height: 250px;
    }

    /* FOOTER */
    .footer-links {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .card-info a {
        border: 1px solid #000;
        margin: 2px;
        padding: 4px;
        text-decoration: none;
        color: #d7ccc8;
        background-color: #4e342e;
        border-radius: 4px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {

    /* MENU */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* PRODUTOS */
    .container-flex {
        flex-direction: column;
        /*  muda de linha para coluna */
        align-items: center;
        /* centraliza os cards */
    }

    .card-produto {
        width: 80%;
        /* deixa bonito no celular */
    }

    /* NOTÍCIAS */
    .card-noticia-h {
        flex-direction: column;
        text-align: center;
    }

    .card-noticia-h img {
        width: 100%;
        height: auto;
    }

    /* HERO */
    .hero-image {
        height: 250px;
    }

    /* FOOTER */
    .footer-links {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .card-info a {
        border: 1px solid #000;
        margin: 2px;
        padding: 4px;
        text-decoration: none;
        color: #d7ccc8;
        background-color: #4e342e;
        border-radius: 4px;
    }
}

@media screen and (max-width: 600px) {

    /* MENU */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* PRODUTOS */
    .container-flex {
        flex-direction: column;
        /*  muda de linha para coluna */
        align-items: center;
        /* centraliza os cards */
    }

    .card-produto {
        width: 80%;
        /* deixa bonito no celular */
    }

    /* NOTÍCIAS */
    .card-noticia-h {
        flex-direction: column;
        text-align: center;
    }

    .card-noticia-h img {
        width: 100%;
        height: auto;
    }

    /* HERO */
    .hero-image {
        height: 250px;
    }

    /* FOOTER */
    .footer-links {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .card-info a {
        border: 1px solid #000;
        margin: 2px;
        padding: 4px;
        text-decoration: none;
        color: #d7ccc8;
        background-color: #4e342e;
        border-radius: 4px;
    }
}